Jupyter==1.0.0
numpy==1.22.4 
matplotlib==3.5.2 
pandas==1.4.3 
scikit-learn==1.1.2 
Pillow==9.2.0 
tensorflow==2.9.1 
networkx==2.5
scipy==1.6.2
node2vec==0.3.3 
karateclub==1.0.19
neural-structured-learning==1.3.1 
stellargraph==1.2.1
spektral
xgboost
snap-stanford
ipykernel 
flask
